@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f59e0b;
  --color-primary-content: #ffffff;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
